*{
    font-family: 'Source Sans Pro', sans-serif;
}

.header{
    font-size: 50px;
}

.font{
    font-size: 30px;
    font-weight: 200;
    margin-bottom: 16px;
}

.name{
    margin-right: 10px
}

.center{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.grid{
    display: grid;
    grid-gap: 10px;
    grid-template-columns: 1fr 1fr 1fr
}

.inputSpacer{
    margin-right: 8px
}

.todoClass{
    border: 2px darkslategray solid;
    border-radius: 4px;
    padding: 10px;
    margin: 10px;
}

.todoClass:hover{
    color: white;
    background-color:#DA4277;
    transform: rotate(2deg);
    transition: all ease-in 100ms 0ms;
}

.centeredForm {
    display: flex;
    justify-content: center;
  }

button {
    background-color:#2BB6D9;
    border: none;
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin-right: 6px;
    cursor: pointer;
  }