*{
    font-family: 'Source Sans Pro', sans-serif;
}

.header{
    margin: 20px
}

.font{
   font-weight: 200; 
}

.center{
    display: flex;
    justify-content: center;
}

.grid{
    display: grid;
    grid-gap: 10px;
    grid-template-columns: 1fr 1fr 1fr
}

.todoClass{
    border: 2px darkslategray solid;
    border-radius: 4px;
    padding: 10px;
    margin: 10px;
}

.todoClass:hover{
    color: white;
    background-color:#DA4277;
    transform: rotate(2deg);
    transition: all ease-in 100ms 0ms;
}

button {
    background-color:#2BB6D9;
    border: none;
    margin: 5px;
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
  }